
:root {
  --grey-bg: #d2d3da;
  --blue-bg: #4b5efc;
  --white-bg: #ffffff;
  --light-white: #f1f2f3;
  --light-grey: #bcbcbd;
  --dark-grey: #919192;
  --black: #000000;
}

.container {
  max-width: 400px;
  height: 100vh;
  border: 1px solid white;
  padding: 5px;
  margin: 50px auto;
  background-color: var(--light-white);
}
.buttons {
  display: grid;
  /* gap: 0; */
  grid-template-areas:
    "del plus-minus percent division"
    "seven eigth nine multiply"
    "four five six minus"
    "one two three plus"
    "dot zero clear equal";
}

.buttons__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 24px;
  border: none;
  margin: 8px;
  padding: 0px;
  color: var(--black);
  background-color: var(--white-bg);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.buttons__btn_bg-grey {
  background-color: var(--grey-bg);
}

.buttons__btn_bg-blue,
.division {
  background-color: var(--blue-bg);
  color: var(--white-bg);
}

.display__text {
  display: flex;
  justify-content: flex-end;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: var(--dark-grey);
  margin: 0;
  margin-top: 32px;
  margin-right: 12px;
}

.display__text_result {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 96px;
  -webkit-text-stroke: 2px #000000;
  color: var(--black);
  margin: 0;
  margin-top: 10px;
  margin-right: 7px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  display: grid;
  justify-items: center;
}

.toggle__switch {
  display: inline-block;
  border-radius: 20px;
  padding: 3px;
  width: 72px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.35s;
  background: url("/icon/sun.svg") no-repeat left/30%,  white;
  background-position: top 6px left 8px;
}
.toggle__switch:before,
.toggle__switch:after {
  content: "";
}
.toggle__switch:before {
  display: block;
  background-color: var(--grey-bg);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 4px;
  transition: left 0.25s;
}

.toggle__checkbox:checked + .toggle__switch {
  background: url("/icon/moon.svg") no-repeat right/30%, #2e2f38;
  background-position: top 6px right 8px; 
}

.toggle__checkbox:checked + .toggle__switch:before {
  right: 42px;
  background-color: #4e505f;
}

.toggle__checkbox {
  position: absolute;
  visibility: hidden;
}

